*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.titulo{
    text-align: center;
    background-color: rgba(48, 47, 47, 0.911);
    color: aliceblue;
    padding: 20px 0;
}

.opçoes{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.opçoes img{
    max-width: 150px;
    opacity: 0.3;
    cursor: pointer;
}

.resposta{
    text-align: center;
    color: aliceblue;
    background-color: aqua;
    border-radius: 10px;
}